.container_header
{
    width: 100%;
    height: 100%;
    display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0;
   padding: 0;
   background: #006FCB;
   font-size: 16px;;
    
}
.header{
    width: 100%;
height: 10%;
left: 0px;
top: 0px;
    
}


.sec1{
    width: 15%;
    height: 100%;
    /* padding: 8px; */
    display: flex;
    margin-left: 1%;

    
}
.sec2{
    width: 70%;
    height: 100%;
    /* padding: 8px; */
    display: flex;
    align-items: center;
    color: #FDFDFD;
    justify-content: left;
    

    
}
.sec3{
    width: 10%;
    height: 100%;
    /* padding: 8px; */
    display: flex;
    flex-direction: column;
    align-items: center;
 



    
}
.cnt-img
{
    width: 34%;
    height: 66%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 0% 6%;
}
.sec3>div>img{
     height:99%;
    width: 99%; 
    border-radius: 50%;
    

}

.ind-dash
{

    width: 11%;
    height: 100%;

display: flex;
align-items: center;
justify-content: space-evenly;

}

.ind-ja
{

    width: 8%;
height: 100%;

display: flex;
align-items: center;
justify-content: space-evenly;
}
.ind-aj
{

    width: 10%;
height: 100%;

display: flex;
align-items: center;
justify-content: space-evenly;

}
.ind-act
{

    width: 7%;
height: 100%;

display: flex;
align-items: center;
justify-content: space-evenly;
}
.ind-p
{

    width: 13%;
height: 100%;

display: flex;
align-items: center;
justify-content: space-evenly;
}
.ind-dash:hover
{
    background: #349EF5;

  
}

 .ind-dash:after {
    border-width: 10px;
    border-style: solid;
  
    content: "";
    display: none;
    /* Width and height could  be left out, but I prefer a less 'pointy' triangle */
    height: 1px;
    width: 1px;
    position: relative;
    top:50%;
    right: 35%; 
/* left: 0%; */


background: #349EF5;
border-color: #349EF5;
transform: rotate(-45deg);
} 
.ind-dash:hover:after,
.ind-dash:hover:before {
    /* The Speech-bubble tooltip and pointer will appear on hover */
    display: block;
}
.ind-p:hover
{
    background: #349EF5;

  
}

 .ind-p:after {
    border-width: 10px;
    border-style: solid;
  
    content: "";
    display: none;
    /* Width and height could  be left out, but I prefer a less 'pointy' triangle */
    height: 1px;
    width: 1px;
    position: relative;
    top:50%;
    right: 35%; 


background: #349EF5;
border-color: #349EF5;
transform: rotate(-45deg);
} 
.ind-p:hover:after,
.ind-p:hover:before {
    /* The Speech-bubble tooltip and pointer will appear on hover */
    display: block;
}


.ind-aj:hover
{
    background: #349EF5;

  
}

 .ind-aj:after {
    border-width: 10px;
    border-style: solid;
  
    content: "";
    display: none;
    /* Width and height could  be left out, but I prefer a less 'pointy' triangle */
    height: 1px;
    width: 1px;
    position: relative;
    top:50%;
    right: 35%; 


background: #349EF5;
border-color: #349EF5;
transform: rotate(-45deg);
} 
.ind-aj:hover:after,
.ind-aj:hover:before {
    /* The Speech-bubble tooltip and pointer will appear on hover */
    display: block;
}




.ind-act:hover
{
    background: #349EF5;

  
}

 .ind-act:after {
    border-width: 10px;
    border-style: solid;
  
    content: "";
    display: none;
    /* Width and height could  be left out, but I prefer a less 'pointy' triangle */
    height: 1px;
    width: 1px;
    position: relative;
    top:50%;
    right: 35%; 


background: #349EF5;
border-color: #349EF5;
transform: rotate(-45deg);
} 
.ind-act:hover:after,
.ind-act:hover:before {
    /* The Speech-bubble tooltip and pointer will appear on hover */
    display: block;
}



.ind-ja:hover
{
    background: #349EF5;
    

  
}

 .ind-ja:after {
    border-width: 10px;
    border-style: solid;
  
    content: "";
    display: none;
    /* Width and height could  be left out, but I prefer a less 'pointy' triangle */
    height: 1px;
    width: 1px;
    position: relative;
    top:50%;
    right: 35%; 


background: #349EF5;
border-color: #349EF5;
transform: rotate(-45deg);
} 
.ind-ja:hover:after,
.ind-ja:hover:before {
    /* The Speech-bubble tooltip and pointer will appear on hover */
    display: block;
}


.link {
    color: inherit;
  }
  a:link    { color: inherit; text-decoration: none; }
  a:visited { color: inherit; text-decoration: none; }
  /* a:hover   { color: red; text-decoration: none; } */
  /* a:active  { color: inherit; text-decoration: none; } */
  .hvr
  {
    height: 170%;
    width: 90%;
    display: flex;
    flex-direction: column;
    /* background: #349EF5;
    border-color: #349EF5; */
    border-radius: 7%;
    padding: 4%;
    justify-content: space-evenly;
    box-shadow: -2px 2px 4px 0 rgb(0 0 0 / 13%);
    background: #fff;
    font-size: 15px;
  }
  /* .hvr:before {
    border-width: 60px;
    border-style: solid;
  
    content: "fdgdfg";
    display: none;
    /* Width and height could  be left out, but I prefer a less 'pointy' triangle 
    height: 1px;
    width: 1px;
    position: absolute;
    /* top:90%;
    right: 3%;  


background: #f53484;
border-color: #34f584;
 transform: rotate(-45deg); 
} 
.hvr:hover:after,
.hvr:hover:before {
     The Speech-bubble tooltip and pointer will appear on hover 
    display: block;
} */