.updateProfileForm{
    margin-top: 5%;
    
    padding: 20px;
    width: 80%;
    background-color: #EFF6FF;
    margin-left: 10%;
    
}
.updateProfileForm>button{
    border: 1px solid #006FCB;
    border-radius: 100px;
   
    height: 48px;
    font-weight: 700;
    letter-spacing: 1px;
}